<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Welcome dashboard</p>

    <a href="/panel/logout">Logout</a>
  </body>
</html>
